In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings=pd.read_csv('ratings.csv',sep=",")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
movies=pd.read_csv('movies.csv',sep=',')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
del movies['genres']
del ratings['timestamp']

In [5]:
ratings=pd.merge(movies,ratings)
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       7     3.0
1        1  Toy Story (1995)       9     4.0
2        1  Toy Story (1995)      13     5.0
3        1  Toy Story (1995)      15     2.0
4        1  Toy Story (1995)      19     3.0

In [6]:
movieRatings=ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
movieRatings.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
corrMatrix=movieRatings.corr()
corrMatrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
corrMatrix=movieRatings.corr(method='pearson',min_periods=100)
corrMatrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
similarMovies=corrMatrix['Star Wars: Episode IV - A New Hope (1977)'][corrMatrix['Star Wars: Episode IV - A New Hope (1977)']>0]
similarMovies.sort_values(ascending=False).head(10)

title
Star Wars: Episode IV - A New Hope (1977)                                         1.000000
Star Wars: Episode VI - Return of the Jedi (1983)                                 0.747774
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.700790
Lord of the Rings: The Fellowship of the Ring, The (2001)                         0.477582
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.476442
Lord of the Rings: The Two Towers, The (2002)                                     0.448153
E.T. the Extra-Terrestrial (1982)                                                 0.428289
Lord of the Rings: The Return of the King, The (2003)                             0.383217
Men in Black (a.k.a. MIB) (1997)                                                  0.341665
Lion King, The (1994)                                                             0.337286
Name: Star Wars: Episode IV - A New Hope (1977), dtype: float64

## Predicting Movies for a random User

In [11]:
d={'Star Wars: Episode VI - Return of the Jedi (1983)':5,'Dark Knight, The (2008)':4,'Jurassic Park (1993)':4}
userrating=pd.Series(d)
userrating

Dark Knight, The (2008)                              4
Jurassic Park (1993)                                 4
Star Wars: Episode VI - Return of the Jedi (1983)    5
dtype: int64

In [12]:
simCandidates=pd.Series()

In [13]:
for i in range(len(userrating)):
    print('Adding similar to ' + userrating.index[i] )
    sims=corrMatrix[userrating.index[i]].dropna()
    sims=sims.map(lambda x:x*userrating[i])
    simCandidates=simCandidates.append(sims)

Adding similar to Dark Knight, The (2008)
Adding similar to Jurassic Park (1993)
Adding similar to Star Wars: Episode VI - Return of the Jedi (1983)

In [14]:
simCandidates.sort_values(inplace=True,ascending=False)
simCandidates.head()

Star Wars: Episode VI - Return of the Jedi (1983)        5.000000
Dark Knight, The (2008)                                  4.000000
Jurassic Park (1993)                                     4.000000
Star Wars: Episode V - The Empire Strikes Back (1980)    3.817034
Star Wars: Episode IV - A New Hope (1977)                3.738871
dtype: float64

In [15]:
simCandidates=simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace=True,ascending=False)
simCandidates.head(10)

Star Wars: Episode VI - Return of the Jedi (1983)                                 6.215851
Jurassic Park (1993)                                                              5.519814
Star Wars: Episode V - The Empire Strikes Back (1980)                             4.977159
Star Wars: Episode IV - A New Hope (1977)                                         4.967955
Dark Knight, The (2008)                                                           4.000000
Lord of the Rings: The Fellowship of the Ring, The (2001)                         3.873347
Lord of the Rings: The Two Towers, The (2002)                                     3.808186
Men in Black (a.k.a. MIB) (1997)                                                  3.783799
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    3.746773
Indiana Jones and the Last Crusade (1989)                                         3.727179
dtype: float64

In [16]:
filtersimCandidates=simCandidates.drop(userrating.index)
filtersimCandidates.head(10)

Star Wars: Episode V - The Empire Strikes Back (1980)                             4.977159
Star Wars: Episode IV - A New Hope (1977)                                         4.967955
Lord of the Rings: The Fellowship of the Ring, The (2001)                         3.873347
Lord of the Rings: The Two Towers, The (2002)                                     3.808186
Men in Black (a.k.a. MIB) (1997)                                                  3.783799
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    3.746773
Indiana Jones and the Last Crusade (1989)                                         3.727179
E.T. the Extra-Terrestrial (1982)                                                 3.716902
Toy Story (1995)                                                                  3.132295
Terminator 2: Judgment Day (1991)                                                 3.053957
dtype: float64